<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link href="../static/css/biiling.css" rel="stylesheet">
</head>
<body>
    <div id="card">
        <div id="card-content">
          <div id="card-title">
            <h2>BILLING </h2>
            <div class="underline-title"></div>
            </div>

            <!-- ------------------------------------------------------------>

            <form 
              class="form" action="{{ url_for('billing')}}" method="POST" >
              {% if mesage is defined and mesage %}
                      <div class="choose">{{ mesage }}</div>
                  {% endif %}
              <!-- ------------------------------------------------------------>
    
              <!-- <label for="user-bill_id" style="padding-top:13px">
                &nbsp;Bill ID
              </label>
              <input id="user-bill_id" class="form-content" type="text" name="bill_id" autocomplete="on" required />
              <div class="form-border"></div> -->
    
              <!-- ------------------------------------------------------------>

              <label for="user-fid" style="padding-top:13px">
                &nbsp;Farmer ID
              </label>
              <input id="user-fid" class="form-content" type="text" name="fid" autocomplete="on" required />
              <div class="form-border"></div>
    
              <!-- ------------------------------------------------------------>
    
              <label for="user-fname" style="padding-top:13px">
                &nbsp;Farmer Name
              </label>
              <input id="user-fname" class="form-content" type="text" name="fname" autocomplete="on" required />
              <div class="form-border"></div>
    
              <!-- ------------------------------------------------------------>

              <label for="user-gid" style="padding-top:13px">
                &nbsp;Grass Cutter ID
              </label>
              <input id="user-gid" class="form-content" type="text" name="gid" autocomplete="on" required />
              <div class="form-border"></div>
    
              <!-- ------------------------------------------------------------>
              <label for="user-gcname" style="padding-top:13px">
                &nbsp;Grass Cutter Name
              </label>
              <input id="user-gcname" class="form-content" type="text" name="gcname" autocomplete="on" required />
              <div class="form-border"></div>
    
              <!-- ------------------------------------------------------------>
    
              <label for="user-charges" style="padding-top:13px">
                &nbsp;Service Charge
              </label>
              <input id="user-charges" class="form-content" type="number" name="charges" autocomplete="on" required />
              <div class="form-border"></div>
    
              <!-- ------------------------------------------------------------>
    
              <input id="submit-btn" type="submit" value="BOOK"  />
          </form>
        </div>
      </div>
</body>
</html>