<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grass_cutter Login Page</title>
  <link href="../static/css/loginstyle.css" rel="stylesheet">
</head>
<body>
  <h1>GRASS CUTTING MANAGEMENT SYSTEM</h1>
  <div id="card">
    <div id="card-content">
      <div id="card-title">
        <h2>LOGIN</h2>
        <div class="underline-title"></div>
        <h2>GRASS CUTTER</h2>
        <div class="underline-title"></div>
        <br>
      </div>
      <form class="form" action="{{ url_for('gclogin')}}" method="POST" >
        {% if mesage is defined and mesage %}
			    <div class="choose">{{ mesage }}</div>
		        {% endif %}
        <!-- <div class="choose">  
          PROFESSION :
        <br><br>
          <input type="radio" name="PROFESSION" value="grass cutter"> GRASS CUTTER
          <input type="radio" name="PROFESSION" value="farmer"> FARMER
        </div> -->
        <label for="user-username" style="padding-top:13px">
            &nbsp;Username
          </label>
        <input id="user-username" class="form-content" type="text" name="username" autocomplete="on" required />
        <div class="form-border"></div>
        <label for="user-password" style="padding-top:22px">&nbsp;Password
          </label>
        <input id="user-password" class="form-content" type="password" name="password" required />
        <div class="form-border"></div>
        <input id="submit-btn" type="submit" value="submit"  />
        <br>
        Don't have account yet? <a href="{{ url_for('gcregister')}}">Register here.</a>
      </form>
    </div>
  </div>
</body>
</html>