<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Land</title>
    <link href="../static/css/booking.css" rel="stylesheet">
</head>
<body>
    <div id="card">
        <div id="card-content">
          <div id="card-title">
            <h2>Land Details </h2>
            <div class="underline-title"></div>
            </div>
            <form 
              class="form" action="{{ url_for('land')}}" method="POST" >
              {% if mesage is defined and mesage %}
                      <div class="choose">{{ mesage }}</div>
                  {% endif %}
              <!-- ------------------------------------------------------------>
    
              <label for="user-srvy_no" style="padding-top:13px">
                &nbsp;Survey Number
              </label>
              <input id="user-srvy_no" class="form-content" type="text" name="srvy_no" autocomplete="on" required />
              <div class="form-border"></div>
    
              <!-- ------------------------------------------------------------>
    
              <label for="user-area" style="padding-top:13px">
                &nbsp;Area [cents]
              </label>
              <input id="user-area" class="form-content" type="text" name="area" autocomplete="on" required />
              <div class="form-border"></div>
    
              <!-- ------------------------------------------------------------>
              <label for="user-fid" style="padding-top:13px">
                &nbsp;Farmer ID
              </label>
              <input id="user-fid" class="form-content" type="text" name="fid" autocomplete="on" required />
              <div class="form-border"></div>
    
              <!-- ------------------------------------------------------------>
    
              <!-- <label for="user-gid" style="padding-top:13px">
                &nbsp;Grass Cutter ID
              </label>
              <input id="user-gid" class="form-content" type="text" name="gid" autocomplete="on" required />
              <div class="form-border"></div> -->
    
              <!-- ------------------------------------------------------------>
    
    
              <input id="submit-btn" type="submit" value="BUY"  />
          </form>
        </div>
      </div>
</body>
</html>